*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;  
    background: linear-gradient(135deg, hsl(204, 70%, 67%), #9b59b6);
    padding: 10px;
}
.todo-app{
    width:100%;
    max-width: 540px;
    background: #fff;   
    margin: 100px auto 20px; /* top, left&right auto, bottom */
    padding: 40px 30px 70px; /* top, left&right, bottom */
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex; /* to align the icon and text */
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row { /* to align the input and button */
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px
}
input {
    flex: 1; /*it will take the remaining space */
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer; /* to change the cursor to pointer */
    border-radius: 40px;
} 
button:hover {
    background: #ff5945;
    opacity: 0.6;
    transition: 0.2s ease-in-out;
   
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px; /* top, right, bottom, left */
    user-select: none; /* to disable the text selection */
    cursor: pointer; /* hand cursor. The other types of cursor are auto, crosshair, default, help, move, pointer, progress, text, wait, inherit */
    position: relative; /* to position the checkbox */
}
ul li::before {  /* ::before is a pseudo-element which allows you to insert content onto a page from CSS (without it needing to be in the HTML). */
    content: ''; /* ' ' is used to insert a space */
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center; 
    top: 12px;
    left: 8px;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}
ul li span {
    position : absolute;
    right: 0;   
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center; 
}
ul li span:hover {
 background: #edeef0;
 border-radius: 50%;
 transition: 0.2s ease-in-out;

}